
ul {
    font-family: 'Lato', sans-serif;
    font-family: 'Nerko One', cursive;
    font-family: 'Shadows Into Light', cursive;
    
    text-align: center;  
  
}

header, h1 {
      font-size: 40px;

}

h2 {

    font-size: 28px;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
    padding: 50px 0;
}





