body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-image: url("./images/mascota.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

main {

    background: rgba( 178, 247, 232, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}


header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px;
    padding-top: 100px;

    height: 60px;
    font-size: 72px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header, ul {
    background: linear-gradient(
        to right, 
      rgb(178, 50, 73),
      rgb(63, 31, 206)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

}

li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;

    border: 1px solid white;
    padding: 50px;
    margin-bottom: 20px;

    font-size: 28px;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
    padding: 50px 0;
}

    
